<div class="item_ranking" >

<% @sort_rank_list.each.with_index(1) do |item, index| %>
    <div class="row">
        <div class="col-md-1">
            <span class="rank-no"><%= index %></span>位
        </div>
        <div class="col-md-3" style="max-width:180px;">
          <div class="img-wrap">
            <% #TODO 商品画像 %>
            
            <% if item.medium_image == nil %>
              <% image_pic = "no-image.png" %>
            <% else %>
              <% image_pic = item.large_image %>
            <% end %>
            <div>
                <%= link_to image_tag(image_pic , alt: item.title, style: "width:100%;") , "/items/#{item.id}" %>
            </div>
          </div>
        </div>
        
        <div class="col-md-8">
            <div class="detail">
                <div class="title">
                    タイトル：<%= item.title %>
                </div>
                <!--div class="description">
                    詳細：<%#= item.description %>
                </div-->
                <div class="have-want-count">
                    <%= (@select_have_want == "have") ? item.have_users.count : item.want_users.count %> <%= @select_have_want %>!!
                </div>
                <div class="rakuten_link">
                    <%= link_to('楽天詳細ページへ', item.detail_page_url) %>
                </div>
            </div>
        </div>
    </div>
    <!--hr /-->
<% end %>
</div>
