<div class="container">
  <div class="container-inner inner-default clearfix">
    <% items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% #TODO 商品画像 %>
            
            <% if item['imageFlag'] == 1 %>
              <%image_pic = item['mediumImageUrls'].first['imageUrl'].gsub('?_ex=128x128', '') %>
            <% else %>
              <% image_pic = "no-image.png" %>
            <% end %>
            
            <%= image_tag(image_pic , alt: item['itemName']) %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <% #TODO 商品タイトル %>
            <%= item['itemName'] %>
          </p>
        </div>
        <div class="action clearfix">
          <%#= render 'items/action' , item: item if logged_in? %>
          <% if item['itemCode'] != nil %>
          <% end if%>
          <% if logged_in? && @current_user.item_status_want?(item['itemCode'])  %>
            <%= link_to "" , ownership_path(id: @current_user.getWantItemId(item['itemCode']) ,item_id: @current_user.getWantItemId(item['itemCode']) ,type: "Want") ,
                        :class => "btn-want btn btn-danger btn-sm want_it",
                        :item_code => "want-#{item['itemCode']}",
                        :remote => true,
                        :method => :delete %>
          <% else %>
            <%= link_to "" , ownerships_path(item_code: item['itemCode'] , type: "Want") ,
                        :class => "btn-want btn btn-danger btn-sm want",
                        :item_code => "want-#{item['itemCode']}",
                        :remote => true,
                        :method => :post %>
          <% end %>
          <% if logged_in? && @current_user.item_status_have?(item['itemCode'])  %>
            <%= link_to "" , ownership_path(id: @current_user.getHaveItemId(item['itemCode']) ,item_id:@current_user.getWantItemId(item['itemCode']), type: "Have") ,
                        :class => "btn-have btn btn-warning btn-sm have_it",
                        :item_code => "have-#{item['itemCode']}",
                        :remote => true,
                        :method => :delete %>
          <% else %>
            <%= link_to "" , ownerships_path(item_code: item['itemCode'] , type: "Have") ,
                        :class => "btn-have btn btn-warning btn-sm have",
                        :item_code => "have-#{item['itemCode']}",
                        :remote => true,
                        :method => :post %>
                      
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
